*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #000;
  padding: 25px;
}

main{
  text-align: center;
  background-color: #434343;
  padding: 50px;
}

h1{
  margin-top: 20px;
}

.flex{
  display: flex;
}

.between{
  justify-content: space-between;
}

.header-title{
  color: red;
}

main .container{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  max-height: 420px;
  margin: auto;
  padding: 3px;
}

#limite{
  overflow-y: scroll;
}

.align-center{
  text-align: center;
}

ul li{
  display: inline-block;
  list-style: none;
}

.fa-star , .fas{
  color: yellow;
}

h4{
  display: block;
}

h5{
  display: inline;
}

.copertina{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.prototype-poster{
  position: relative;
  width: 185px;
  height: 250px;
  margin-right: 50px;
  margin-bottom: 20px;
  border: 3px solid white;
}

.poster-image{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.positioner p{
  color: white;
  margin-bottom: 10px;
}

.positioner{
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #000;
  opacity: 0.9;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.poster-image:hover .positioner{
  display: block;
  cursor: pointer;
}

.positioner p{
  font-size: 12px;
}

.star-container{
  display: inline;
}

.star-container{
  font-size: 12px;
}
