*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  margin: auto;
  padding: 3px;
}

.align-center{
  text-align: center;
}

ul li{
  margin-bottom: 10px;
  list-style: none;
}

.fa-star , .fas{
  color: yellow;
}

h4{
  display: block;
}

h5{
  display: inline;
}

img{
  width: 40px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.star-container{
  display: inline;
}
